.edit_note,
#ArchiveList,
.archive_note,
.delete_note {
  cursor: pointer;
}
.active {
  display: none;
}
.truncate {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
