.edit_note,
.archive_note,
.delete_note {
  cursor: pointer;
}
.active {
  display: none;
}
.truncate {
  width: 170px;
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
